/**公共样式*/

/*旋转屏幕时，字体大小调整的问题*/
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
    -webkit-text-size-adjust:100%;
    margin:0
}

body{
    line-height:0 !important;
    color:#333333;
    font-family: "\u5fae\u8f6f\u96c5\u9ed1";
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
}


*{
    box-sizing: border-box;
}

ul > li {
    list-style: none;
}

/*使vue加载时不会显示源码，添加在vue el指定的标签上*/
[v-cloak] {
	display: none;
}

/** 弹性盒子 **/
.box{
    display: -moz-box;
    display: -webkit-box;
}
.bc{
    -webkit-box-align: center;
}
.flx1{
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}
.flx2{
    -moz-box-flex: 2;
    -webkit-box-flex:2;
}
.flx3{
    -moz-box-flex: 3;
    -webkit-box-flex:3;
}
.flx4{
    -moz-box-flex:4;
    -webkit-box-flex:4;
}
.flx5{
    -moz-box-flex:5;
    -webkit-box-flex:5;
}
.flx6{
    -moz-box-flex:6;
    -webkit-box-flex:6;
}

.flx7{
    -moz-box-flex:7;
    -webkit-box-flex:7;
}
.flx8{
    -moz-box-flex:8;
    -webkit-box-flex:8;
}
.flx9{
    -moz-box-flex:9;
    -webkit-box-flex:9;
}


/** 外边距 **/
.mgA78-73{margin: 78px auto 73px}

/**高度样式**/
.h5{height:5px;}
.h10{height:10px;}
.h13{height:13px;}
.h18{height:18px;}
.h20{height:20px;}
.h22{height:22px;}
.h24{height:24px;}
.h26{height:26px;}
.h27{height:27px;}
.h28{height:28px;}
.h29{height:29px;}
.h30{height:30px;}
.h32{height:32px;}
.h34{height:34px;}
.h35{height:35px;}
.h36{height:36px;}
.h38{height:38px;}
.h40{height:40px;}
.h42{height:42px;}
.h43{height:43px;}
.h44{height:44px;}
.h46{height:46px;}
.h50{height:50px;}
.h51{height:51px;}
.h56{height:56px;}
.h60{height:60px;}
.h70{height:70px;}
.h72{height:72px;}
.h78{height:78px;}
.h80{height:80px;}
.h87{height:87px;}
.h88{height:88px;}
.h90{height:90px;}
.h94{height:94px;}
.h96{height:96px;}
.h97{height:97px;}
.h98{height:98px;}
.hh100{height:100px;}
.h105{height:105px;}
.h109{height:109px;}
.h110{height:110px;}
.h112{height:112px;}
.h117{height:117px;}
.h118{height:118px;}
.h120{height:120px;}
.h123{height:123px;}
.h126{height:126px;}
.h130{height:130px}
.h132{height:132px}
.h135{height:135px;}
.h136{height:136px;}
.h140{height:140px;}
.h144{height:144px;}
.h146{height:146px;}
.h150{height:150px;}
.h151{height:151px;}
.h152{height:152px;}
.h164{height:164px;}
.h167{height:167px;}
.h170{height:170px;}
.h175{height:175px;}
.h176{height:176px;}
.h180{height:180px;}
.h182{height:182px;}
.h184{height:184px;}
.h188{height:188px;}
.h192{height:192px;}
.h196{height:196px;}
.h200{height:200px;}
.h205{height:205px;}
.h210{height:210px;}
.h211{height:211px;}
.h216{height:216px;}
.h223{height:223px;}
.h228{height:228px;}
.h230{height:230px;}
.h234{height:234px;}
.h236{height:236px;}
.h238{height:238px;}
.h242{height:242px;}
.h245{height:245px;}
.h247{height:247px;}
.h248{height:248px;}
.h250{height:250px;}
.h260{height:260px;}
.h278{height:278px;}
.h280{height:280px;}
.h285{height:285px;}
.h286{height:286px;}
.h300{height:300px;}
.h320{height:320px;}
.h330{height:330px;}
.h340{height:340px;}
.h363{height:363px;}
.h400{height:400px;}
.h420{height:420px;}
.h425{height:425px;}
.h456{height:456px;}
.h500{height:500px;}
.h550{height:550px;}
.h600{height:600px;}
.h608{height:608px;}
.h646{height:646px;}
.h720{height:720px;}
.h750{height:750px;}
.h786{height:786px;}
.h1660{height:1660px;}
.h1072{height:1072px;}
.h1180{height:1180px;}
.h1920{height:1920px;}
.h100{height: 100%}

/**行高设置**/
.lh13{line-height:013px;}
.lh24{line-height:024px;}
.lh26{line-height:026px;}
.lh28{line-height:028px;}
.lh29{line-height:029px;}
.lh30{line-height:030px;}
.lh32{line-height:032px;}
.lh34{line-height:034px}
.lh35{line-height:035px}
.lh36{line-height:036px;}
.lh38{line-height:038px;}
.lh40{line-height:040px;}
.lh42{line-height:042px;}
.lh44{line-height:044px;}
.lh46{line-height:046px;}
.lh50{line-height:050px;}
.lh51{line-height:051px;}
.lh54{line-height:054px;}
.lh56{line-height:056px;}
.lh60{line-height:060px;}
.lh70{line-height:070px;}
.lh72{line-height:072px;}
.lh80{line-height:080px;}
.lh88{line-height:088px;}
.lh90{line-height:090px;}
.lh94{line-height:094px;}
.lh97{line-height:097px;}
.lh98{line-height:098px;}
.lh100{line-height:100px;}
.lh105{line-height:150px;}
.lh110{line-height:110px;}
.lh112{line-height:112px;}
.lh118{line-height:118px;}
.lh120{line-height:120px;}
.lh130{line-height:130px;}
.lh132{line-height:132px;}
.lh136{line-height:136px;}
.lh144{line-height:144px;}
.lh146{line-height:146px;}
.lh164{line-height:164px;}
.lh176{line-height:176px;}
.lh200{line-height:200px;}
.lh210{line-height:210px;}
.lh236{line-height:236px;}
/*宽度*/
.w10{width:010px;}
.w15{width:015px;}
.w22{width:022px;}
.w26{width:026px;}
.w27{width:027px;}
.w28{width:028px;}
.w30{width:030px;}
.w34{width:034px;}
.w35{width:035px;}
.w40{width:040px;}
.w42{width:042px;}
.w44{width:044px;}
.w50{width:050px;}
.w56{width:056px;}
.w59{width:059.5px;}
.w60{width:060px;}
.w63{width:063px;}
.w64{width:064px;}
.w69{width:069px;}
.w72{width:072px;}
.w75{width:075px;}
.w80{width:080px;}
.w87{width:087px;}
.w90{width:090px;}
.w92{width:092px;}
.w94{width:094px;}
.w97{width:097px;}
.w105{width:105px}
.w107{width:107px}
.w112{width:112px}
.w118{width:118px}
.w120{width:120px;}
.w130{width:130px;}
.w136{width:136px;}
.w140{width:140px;}
.w146{width:146px;}
.w148{width:148px;}
.w150{width:150px;}
.w152{width:152px;}
.w154{width:154px;}
.w160{width:160px;}
.w167{width:167px;}
.w168{width:168px;}
.w170{width:170px;}
.w175{width:175px;}
.w176{width:176px;}
.w180{width:180px;}
.w182{width:182px;}
.w188{width:188px;}
.w208{width:208px;}
.w200{width:200px;}
.w210{width:210px;}
.w219{width:219px;}
.w220{width:220px;}
.w222{width:222px;}
.w228{width:228px;}
.w230{width:230px;}
.w232{width:232px;}
.w235{width:235px;}
.w251{width:251px;}
.w260{width:260px;}
.w270{width:270px;}
.w280{width:280px;}
.w290{width:290px;}
.w300{width:300px;}
.w324{width:324px;}
.w330{width:330px;}
.w370{width:370px;}
.w390{width:390px;}
.w400{width:400px;}
.w472{widtH:472px;}
.w509{width:509px;}
.w516{width:516px;}
.w522{width:522px;}
.w525{width:525px;}
.w630{width:630px;}
.w645{width:645px;}
.w660{width:660px;}
.w690{width:690px;}
.w700{width:700px;}
.w720{width:720px;}
.w750{width:750px;}
.w839{width:839px;}
.w878{width:878px;}
.w944{width:944px;}
.w953{width:953px;}
.w961{width:961px;}
.w1080{width:1080px;}

/*百分比宽度*/
.wb20{width: 19.6%}
.wb25{width: 25%}
.wb28{width: 28%}
.wb33{width:33.05%;}
.wb30{width:30%;}
.wb43{width:43%}
.wb48{width:48.5%}
.wb49{width:49.5%}
.wb50{width:50%;}
.wb60{width: 60%;}
.wb68{width: 68%;}
.wb70{width: 70%;}
.wb80{width: 80%;}
.wb87{width: 87%;}
.wb88{width: 88%;}
.wb90{width: 90%;}
.w100 {width: 100%;}
/**字体大小 * 统一加大2个字号 */
.fs16{font-size:  16px;}
.fs18{font-size:  18px;}
.fs20 {font-size: 20px;}
.fs21 {font-size: 21px;}
.fs22 {font-size: 22px;}
.fs24 {font-size: 24px;}
.fs25 {font-size: 25px;}
.fs26 {font-size: 26px;}
.fs28 {font-size: 28px;}
.fs29 {font-size: 29px;}
.fs30 {font-size: 30px;}
.fs32 {font-size: 32px;}
.fs34 {font-size: 34px;}
.fs35 {font-size: 35px;}
.fs36 {font-size: 36px;}
.fs37 {font-size: 37px;}
.fs38 {font-size: 38px;}
.fs40 {font-size: 40px;}
.fs45 {font-size: 45px;}
.fs46 {font-size: 46px;}
.fs54 {font-size: 54px;}
.fs58 {font-size: 58px;}
.fs59 {font-size: 59px;}
.fs62 {font-size: 62px;}
.fs65 {font-size: 65px;}
.fs70 {font-size: 70px;}
.block {display: block;}

/** 上边距 **/
.mgTop136{margin-top:136px;}
.mgTop102{margin-top:102px;}
.mgTop100{margin-top:100px;}
.mgTop97{margin-top:097px;}
.mgTop90{margin-top:090px;}
.mgTop86 {margin-top: 86px;}
.mgTop75 {margin-top: 75px;}
.mgTop70 {margin-top: 70px;}
.mgTop60 {margin-top: 60px;}
.mgTop59{margin-top:  59px;}
.mgTop55 {margin-top: 55px;}
.mgTop50 {margin-top: 50px;}
.mgTop49 {margin-top: 49px;}
.mgTop47 {margin-top: 47px;}
.mgTop46 {margin-top: 46px;}
.mgTop45 {margin-top: 45px;}
.mgTop44 {margin-top: 44px;}
.mgTop42 {margin-top: 42px;}
.mgTop40 {margin-top: 40px;}
.mgTop39 {margin-top: 39px;}
.mgTop38 {margin-top: 38px;}
.mgTop36 {margin-top: 36px;}
.mgTop35 {margin-top: 35px;}
.mgTop33 {margin-top: 33px;}
.mgTop32 {margin-top: 32px;}
.mgTop30 {margin-top: 30px;}
.mgTop28 {margin-top: 28px;}
.mgTop25 {margin-top: 25px;}
.mgTop24 {margin-top: 24px;}
.mgTop22 {margin-top: 22px;}
.mgTop20 {margin-top: 20px;}
.mgTop18 {margin-top: 18px;}
.mgTop16 {margin-top: 16px;}
.mgTop15 {margin-top: 15px;}
.mgTop14 {margin-top: 14px;}
.mgTop12 {margin-top: 12px;}
.mgTop10 {margin-top: 10px;}
.mgTop15 {margin-top: 15px;}
.mgTop30 {margin-top: 30px;}
.mgTop7{margin-top:7.5px}
.mgTop6{margin-top:6.5px}
.mgTop1{margin-top:1px}
.mgTop2{margin-top:2px}
.mgTop4{margin-top:04px}
/**右边距**/
.mgRight3{margin-right:  03px;}
.mgRight6{margin-right:  06px;}
.mgRight8{margin-right:  08px;}
.mgRight01{margin-right: -01px;}
.mgRight10{margin-right: 10px;}
.mgRight12{margin-right: 12px;}
.mgRight14{margin-right: 14px;}
.mgRight16{margin-right: 16px;}
.mgRight19{margin-right: 19px;}
.mgRight20{margin-right: 20px;}
.mgRight23{margin-right: 23px;}
.mgRight29{margin-right: 29px;}
.mgRight30{margin-right: 30px;}
.mgRight32{margin-right: 32px;}
.mgRight40{margin-right: 40px;}
.mgRight42{margin-right: 42px;}
.mgRight50{margin-right: 67px;}
/**下边距**/
.mgBtm5{margin-bottom: 005px;}
.mgBtm6{margin-bottom: 006px;}
.mgBtm10{margin-bottom: 010px;}
.mgBtm19{margin-bottom: 019px;}
.mgBtm20{margin-bottom: 020px;}
.mgBtm22{margin-bottom: 022px;}
.mgBtm50{margin-bottom: 050px;}
.mgBtm60{margin-bottom: 060px;}
/**左边距**/
.mgLeft3{margin-left: 03px;}
.mgLeft4{margin-left: 04px;}
.mgLeft6{margin-left: 06px;}
.mgLeft8{margin-left: 08px;}
.mgLeft12{margin-left:12px;}
.mgLeft14{margin-left:14px;}
.mgLeft15{margin-left:15px;}
.mgLeft16{margin-left:16px;}
.mgLeft17{margin-left:17px;}
.mgLeft20{margin-left:20px;}
.mgLeft24{margin-left:24px;}
.mgLeft30{margin-left:30px;}
.mgLeft36{margin-left:36px;}
.mgLeft33{margin-left:33px;}
.mgLeft50{margin-left: 67px;}
.mgLeft70{margin-left:70px;}
.mgleft120{margin-left:120px;}

/* 上下左右居中 */
.mg16{margin:16px}
/** 水平居中 **/
.mgAuto{margin: 0 auto}
.mgA30{margin: 30px auto}
.mgA05{margin: 05px auto 0}
.mgA50{margin: 50px auto 0}
.mgA0-30{margin: 0 30px}
.mgA39{margin: 39px auto}
.mgA28{margin: 28px auto}
.mgA27{margin: 27px auto}
.mgA10{margin: 10px auto}
.mgA35{margin: 35px auto}
.mgA70{margin: 70px auto}
.mgA297{margin: 297px auto}
.mgA175{margin: 0 175px auto}
.mgA60{margin:  auto 060px}
.mgA400{margin: 400px auto}
.mgLR4{margin:0 04px;}
/*上下居中*/
.mgA{margin:auto;}
/**背景色**/
.bg{background:#FECA23;}
.bgDE{background:#DEDEDE;}
.bgFB{background:#FBB393;}
.bgf8{background:#F8901F;}
.bg55{background:#556098;}
.bgTm{background:transparent;}
.bgFF9{background:#FF9751;}
.bgFa{background: #fafafa}
.bgSb{background: #f7f7f7;}
.bgWhite{background:white !important;}
.bgF1{background:#F1F1F1 !important;}
.bgfc{background: #FCFCFC;}
.bg33{background: #333;}
.bgf2{background: #f2f2f2;}
.bgf3{background: #f3f3f3;}
.bg5D{background:#5DD15D}
.bgE6{background:#E6E6E6}
.bg188{background: #188AF5}
.bgDf{background: #df3849}
.bgF4{background: #FF4053}
.bgF0{background: #F0F0F0}
.bgFF7{background: #FF707E}
.bgcc{background: #cccccc}
.bgca{background: #CACDCF}
.bgee{background: #eeeeee}
.bgdd{background: #dddddd}
.bg-fc{background: #fcfcfc}
.bg-f7{background: #f7f7f7}
.bg-fff{background: #ffffff}
.bg-333{background: #333333}
.bg-f8901f{background: #f8901f}
.bg4BA{background:#4BA1F1}
.bgB3{background:#B3B3B3}
.bg835{background:#835C3C}
.bg614{background:#614C3F}
/** 字体颜色 r:弱，q:强 ，w:正常 **/
.red-r{color:#FF4053}
.warn-r{color:#F8901F !important}
.green-r{color:#37C837}
.green-rr{color:#5DD15D}
.warn-rr{color:#DF821C}
.white{color:white}
.bbb{color:#BBBbbb !important}
.bdbd{color:#bdbdbd !important}
.a2a2{color:#a2a2a2;}
.b7b7{color:#b7b7b7;}
.b9b9{color:#b9b9b9}
.color-5d{color:#5DD15D}
.color-666{color:#666666}
.color-999{color:#999999}
.color-eee{color:#eeeeee}
.color-835{color:#835C3C}
.color-E2c{color:#E2C67E}
.color-75{color:#757475}
.color-fe7{color:#FE7646}
.color-ffc{color:#ffc20e}
.color-ff9{color:#ff9751}

.phr{color:#cccccc !important}
.red-rr{color:#df3849}
.color-333{color:#333333;}
.color-fff{color:#ffffff;}
.color-ccc{color:#cccccc;}
.color-f8901f{color:#f8901f;}
/** 字体加粗 **/
.b1{font-weight:100}
.b5{font-weight:500}
.b6{font-weight:600}
.b7{font-weight:700}
.b8{font-weight:800}
.b9{font-weight:900}
/** 杂项 **/
.clr {clear: both;}
/** 对齐方式 **/
.tc {text-align: center;}
.tr{text-align: right;}
.tl{text-align: left;}
/** 左/右浮动 **/
.fl {float: left;}
.fr {float: right !important;}
/** 边距样式  **/
.pad60{padding:60px;}
.padTop1{padding-top:1px;}
.padTop20{padding-top:20px;}
.padleft10{padding-left:10px; }
.padleft12{padding-left:12px; }
.padleft20{padding-left:20px; }
.padleft30{padding-left:30px; }
.padleft60{padding-left: 060px; }
.padleft65{padding-left:65px; }
.padLR8{padding: 0 08px ; }
.padLR29{padding: 0 29px ; }
.padLR30{padding: 1px 30px ; }
.padLR15{padding: 0 15px}
.padLR40{padding: 0 40px ; }
.padLR60{padding: 1px 060px ; }
.padLR20-64{padding: 20px 064px 0; }
.padLR60-23{padding: 60px 060px 23px; }
.padLR60-30{padding: 60px 060px 30px; }
.padLR0{padding: 0; }
.padLR12{padding: 10px 12px; }
.padTB20{padding: 20px  0px; }
.padRight10{padding-right:10px;}
.padRight15{padding-right:15px;}
.padRight30{padding-right:30px;}
.padRight60{padding-right:60px;}
.padBtm30{padding-bottom:30px }

/** 分割线 **/
.borderBtm{border-bottom:1px solid #DEDEDE;}
/** 边框线样式 **/
.borderLeft{border-left:1px solid #DEDEDE;}
.borderRight{border-right:1px solid #DEDEDE;}
.borderTop{border-top:1px solid #DEDEDE;}
.borderBtmF8{border-bottom: 2px solid #F8901F}
.borderAllF8{border:1px solid #F8901F !important;}
.borderAll666{border:1px solid #666666;}
.borderAllf3f{border:8px solid #f3f3f3;}
.borderAllff9{border:1px solid #ff9751;}
.borderAll835{border:2px solid #835C3C;}
.borderAllF89{border:1px solid #F89327;}
.borderAllddd{border:1px solid #dddddd;}
.borderAlla2{border:1px solid #a2a2a2;}
.borderAllFff{border:1px solid #ffffff;}
.borderAllDE{border:1px solid #dedede;}
.borderAllED{border:1px solid #ededed;}
.borderAllED-w2{border:2px solid #ededed;}
.borderAll33{border:1px solid #333333;}
.borderAll33-w2{border:2px solid #333333;}
.borderAll37{border:1px solid #37C837;}
.borderInput{
    display:block;
    box-sizing:border-box;
    text-align:center;
    text-decoration:none;
    border-radius:5px;
    -webkit-tap-highlight-color:transparent;
    overflow:hidden;

}
/** 显示/隐藏 **/
.dn{display: none !important}
.db{display: block;}
/** 相对定位 **/
.psnR{position: relative;}
/** 绝对定位 **/
.psnA{position:absolute;}

/** 超出隐藏 **/
.hidellipsis{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.hide{
    overflow:hidden;
}
/*超出滚动*/
.auto{
    overflow:auto;
}
.fixed{position: fixed;}

.top0{top:0}
.top5{top:005px}
.top8{top:008px}
.top15{top:15px}
.top30{top:30px !important}
.top40{top:40px !important}
.top75{top:75px;}
.top80{top:80px;}

.left0{left:0;}
.left30{left:30px}
.left60{left:60px}
.leftb25{left:32%}
.leftb45{left:45%}
.right0{right:0}
.right5{right:05px}
.right10{right:10px}
.right30{right:30px}
.btm0{bottom:0}
.btm60{bottom:60px}
.btm65{bottom:65px}
.btm78{bottom:78px}
.btm80{bottom:80px}
.btm30{bottom:30px}
.btm94{bottom:94px}
.btm98{bottom:98px}
.btm180{bottom:180px !important}
.radiusNull{border-radius: 0 !important}
.borderRadius10{border-radius:10px;}
.borderRadius12{border-radius:12px;}
.borderRadius15{ border-radius:15px;}
.borderRadius16{  border-radius:16px;}
.borderRadius5{border-radius:5px}
.borderRadius6{border-radius:6px}
.borderRadius30{border-radius:30px}
.borderRadius35{border-radius:35px}

.topBorderRadius12{border-radius: 12px 12px 0 0;}
.borderNone{border:none}
/** 圆角 **/
.boderRadiusB100{border-radius:100%;}
.boderRadiusB50{border-radius:50%;}
/** input输入框的placeholder样式 **/
/*
* 在 pysciter 里面无法识别
#input div>input::-webkit-input-placeholder{font-size:032px}
#inputAccount::-webkit-input-placeholder{font-size:053px}
.rePhone::-webkit-input-placeholder{font-size:028px;font-weight:600}
input::-webkit-input-placeholder{color:#cccccc}

input{-webkit-appearance: none;}  *//*iphone及ipad下输入框默认内阴影*/
.moreImg{ width: 16px;height:26px;}
/* 层级 */
.zindex01{z-index: -1}
.zindex0{z-index: 0}
.zindex1{z-index: 1}
.zindex2{z-index: 2}

.indent2{text-indent: 2em}
/* 图片 */
.imgTop{vertical-align:text-top}
.imgMid{vertical-align:middle}
.imgBtm{vertical-align:text-bottom}

/* 阴影 */
.shadow{box-shadow: -10px 0px 156px 10px #333333}
/** logo **/
.logo{width:224px;height:224px}

/** 块级显示 **/
.db{display: block }
.dinlb{display:inline-block;}

/** 定义占位符 **/
/*<div class="h30"></div>*/

/** 背景图片 **/
.buyBg{background: url('../img/home_price.jpg') center top repeat-x;}
.cateBgY{background: url('../img/tab_off.png') center top repeat-x;}
.cateBgN{background: url('../img/tab_on.png') center top repeat-x;}
.btnBg{background: url('../img/btnbg3.jpg') center top repeat-x;}

/* 文本 */
.ltSpc3{letter-spacing: 3px;}