/**弹出窗口提示信息样式*/

/**操作成功样start**/
#div_operate {
    width: 450px;
    height: 210px;
    background-color: #fff;
    display: none;
}

    #div_operate table {
        width: 100%;
        height: 100%;
    }

#div_operate_msg {
    color: red;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
}


#div_operate .title_msg {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: red;
}



/**操作成功样start**/
#div_coin {
    width: 450px;
    height: 210px;
    background-color: #fff;
    display: none;
}

    #div_coin table {
        width: 100%;
        height: 100%;
    }

#div_coin_msg {
    color: red;
    font-size: 28px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
}


#div_coin .title_msg {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: red;
}



/**错误信息*/
#div_error {
    width: 400px;
    height: 200px;
    display: none;
}

    #div_error .title_msg {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: red;
    }

    #div_error table {
        width: 100%;
        height: 100%;
    }

    #div_error .td_ico {
        width: 105px;
    }

    #div_error div {
        font-size: 30px;
        color: red;
        font-weight: bold;
        text-align: left;
        margin-right: 10px;
        font-weight: bold;
    }






/**弹出打印照片信息框**/
#div_photo {
    width: 500px;
    height: 210px;
    background-color: #fff;
    display: none;
}

    #div_photo img {
        width: 120px;
        height: 120px;
    }

    #div_photo th {
        width: 100px;
    }

    #div_photo table {
        width: 100%;
        height: 100%;
    }

#div_photo_msg {
    color: red;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    line-height: 25px;
}

    #div_photo_msg div {
        margin-top: 2px;
        font-size: 16px;
        margin-left: 10px;
        text-align: center;
    }


/**弹出投币信息框**/
#div_toubi {
    width: 500px;
    height: 210px;
    background-color: #fff;
    display: none;
}

    #div_toubi img {
        width: 120px;
        height: 120px;
    }

    #div_toubi table {
        width: 100%;
        height: 100%;
    }

#div_toubi_msg {
    color: red;
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    line-height: 25px;
}

    #div_toubi_msg div {
        margin-top: 2px;
        font-size: 16px;
        margin-left: 10px;
        text-align: center;
    }



.money_pay_result {
    width: 100%;
}

    .money_pay_result th {
        width: 60%;
    }

    .money_pay_result td {
        width: 40%;
    }






/*start创建密码输入框css start*/
/* 2017-08-06
输入框样式在 common/windown.css
*/
/*start创建密码输入框css start*/
   #password_keybord {
            border: solid 1px #E2E2E2;
            width: 420px;
            background-color: #808080;
            position:absolute;
            left:330px;
            top:400px;
            z-index:999;
            display:none;
        }

            #password_keybord .keybord {
                width: 100%;
                height: 440px;
                border-collapse: collapse;
                text-align: center;
            }

                #password_keybord .keybord td {
                    width: 25%;
                }

                #password_keybord .keybord .txt {
                    width: 99%;
                    height: 30px;
                    line-height:32px;
                    border: 1px solid #E2E2E2;
                    font-size: 20px;
                    font-weight: bold;
                }

                #password_keybord .keybord .btn {
                    width: 100px;
                    height: 90px;
                    border: 0px;
                    font-size: 28px;
                    font-weight: bold;
                }

                #password_keybord .keybord .num {
                    background-color:#A6946F;
                    color: white;
                }

                #password_keybord .keybord .operater {
                    background-color: #E2E2E2;
                    color: black;
                }
                #password_keybord .msg {
                    color: red;
                }
/*end创建密码输入框css end*/
/* 2017-08-06*/
/*end创建密码输入框css end*/









/*start键盘输入控件央视start */
/* 2017-08-24*/
/*start键盘输入控件央视start */
 .codepay_keybord {
            border: solid 1px #E2E2E2;
            width: 300px;
            background-color: #808080;
            position:absolute;
            left:5px;
            top:5px;
            z-index:999;
            display:none;
        }

            .codepay_keybord .keybord {
                width: 100%;
                height: 260px;
                border-collapse: collapse;
                text-align: center;
            }

                .codepay_keybord .keybord td {
                    width: 25%;
                }

                .codepay_keybord .keybord .txt {
                    width: 99%;
                    height: 30px;
                    line-height:32px;
                    border: 1px solid #E2E2E2;
                    font-size: 28px;
                    font-weight: bold;
                }

                .codepay_keybord .keybord .btn {
                    width: 70px;
                    height: 60px;
                    border: 0px;
                    font-size: 28px;
                    font-weight: bold;
                }

                .codepay_keybord .keybord .num {
                    background-color: #684531;
                    color: white;
                }

                .codepay_keybord .keybord .operater {
                    background-color: #E2E2E2;
                    color: black;
                }
                .codepay_keybord .msg {
                    color: red;
                }
                
/*end键盘输入控件央视 end*/
/* 2017-08-24*/
/*end键盘输入控件央视 end*/